<ion-content padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed" color="dark">Name: </ion-label>
          <ion-input [(ngModel)]="pageInfo.studentName" type="text" placeholder="John Doe"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed" color="dark">Date: </ion-label>
          <ion-input [(ngModel)]="pageInfo.date" type="date"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed" color="dark">Current GPA: </ion-label>
          <ion-input [(ngModel)]="pageInfo.currentGPA" (ngModelChange)="currentGPA = stringBugFix($event)" type="number" placeholder="0"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed" color="dark">GPA Hours: </ion-label>
          <ion-input [(ngModel)]="pageInfo.currentCreditHoursTaken" (ngModelChange)="currentCreditHoursTaken = stringBugFix($event)" type="number" placeholder="0"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <div class="top-padding">
      <ion-row>
        <ion-col class="main-table-col-1"></ion-col>
        <ion-col class="main-table-col-2">
          <div class="heading">
            <h2>Current Term</h2>
          </div>
        </ion-col>
        <ion-col class="main-table-col-3"></ion-col>
        <ion-col class="main-table-col-4" style="border-left: 0px !important"></ion-col>
        <ion-col class="main-table-col-5">
          <div class="heading">
            <div id="top">
              <h2>Repeat Courses</h2>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div class="bordered">
      <ion-row>
        <ion-col class="main-table-col-1">
          <p>Subject</p>
          <div *ngFor="let class of pageInfo.classes">
            <!-- id="class-input"-->
            <ion-item no-lines>
              <ion-input [(ngModel)]="class.name" type="text" placeholder="Class Name Here"></ion-input>
            </ion-item>
          </div>
          <div class="button-row bottom-bordered">
            <ion-item no-lines>
              <button ion-button full class="add-class" (click)="addClass()" color="primary">New Class</button>
            </ion-item>
          </div>
        </ion-col>
        <ion-col class="main-table-col-2">
          <p>Grade</p>
          <div *ngFor="let class of pageInfo.classes">
            <ion-item no-lines>
              <div item-content class="centered-select">
                <div item-content class="select-item">
                  <ion-select [(ngModel)]="class.predictedGrade" interface="popover">
                    <ion-option *ngFor="let grade of acceptedGradeValues" value="{{grade}}">{{grade}}</ion-option>
                  </ion-select>
                </div>
              </div>
            </ion-item>
          </div>
          <div class="button-row bottom-bordered"></div>
        </ion-col>
        <ion-col class="main-table-col-3">
          <p>Credits</p>
          <div *ngFor="let class of pageInfo.classes">
            <ion-item no-padding no-lines>
              <div item-content class="centered-select">
                <div item-content class="select-item">
                  <ion-select [(ngModel)]="class.creditHours" (ngModelChange)="class.creditHours = stringBugFix($event)" (ionChange)="updateTermCreditHours()" interface="popover">
                    <ion-option *ngFor="let credits of acceptedCreditHourValues" value="{{credits}}">{{credits}}</ion-option>
                  </ion-select>
                </div>
              </div>
              <button item-end ion-button class="remove-class" color="danger" (click)="removeClass(class)">X</button>
            </ion-item>
          </div>
          <div class="button-row bottom-bordered"></div>
          <div class="right-bordered" style="height: 101px; transform: translate(1px, 5px)"></div>
        </ion-col>
        <ion-col class="main-table-col-4">
          <p>Retaking Course</p>
          <div *ngFor="let class of pageInfo.classes">
            <ion-item no-lines>
              <ion-label class="checkbox" position="fixed" color="dark">I have taken this class before: </ion-label>
              <ion-checkbox item-end [(ngModel)]="class.retaking"></ion-checkbox>
            </ion-item>
          </div>
          <div class="button-row bottom-bordered" style="width: calc(100% + 1px) !important; transform: translateX(-1px)"></div>
        </ion-col>
        <ion-col class="main-table-col-5">
          <p>Previous Grade</p>
          <div *ngFor="let class of pageInfo.classes">
            <ion-item no-lines id="previous-grade">
              <div item-content class="centered-select">
                <div item-content class="select-item">
                  <ion-select id="previous-grade" [disabled]="!class.retaking" [(ngModel)]="class.previousGrade" interface="popover">
                    <ion-option *ngFor="let grade of acceptedGradeValues" value="{{grade}}">{{grade}}</ion-option>
                  </ion-select>
                </div>
              </div>
            </ion-item>
          </div>
          <div class="button-row bottom-bordered"></div>
        </ion-col>
      </ion-row>
    </div>

    <div style="transform: translateY(-100px)">
      <ion-row>
        <ion-col class="main-table-col-1"></ion-col>
        <ion-col class="main-table-col-2">
          <div class="heading">
            <h1>Term GPA</h1>
            <h4>{{getTermGPA()}}</h4>
          </div>
        </ion-col>
        <ion-col class="main-table-col-3"></ion-col>
        <ion-col class="main-table-col-4" style="border-left: 0px !important"></ion-col>
        <ion-col class="main-table-col-5">
          <div class="heading">
            <div id="bottom">
              <h1 id="table-header" *ngIf="getCumulativeGPA() == ''" style="color: black">Cumulative GPA</h1>
              <h1 id="table-header" *ngIf="getCumulativeGPA() != ''" style="color: blue">Cumulative GPA</h1>
              <h4 style="color: blue">{{getCumulativeGPA()}}</h4>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col>
        <h1 style="text-align: center">Raise My GPA</h1>
        <div style="border: 1px solid black; text-align: center">
          <ion-item no-lines>
            <ion-label position="fixed" color="dark">Desired GPA: </ion-label>
            <ion-input [(ngModel)]="pageInfo.desiredGPA" (ngModelChange)="desiredGPA = stringBugFix($event)" type="number" placeholder="0" digit></ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-label position="fixed" color="dark">Term GPA Hours: </ion-label>
            <ion-input [(ngModel)]="pageInfo.termCreditHours" (ngModelChange)="termCreditHours = stringBugFix($event)" type="number" placeholder="0" digit></ion-input>
          </ion-item>
          <h1 style="border-top: 1px solid black">Term GPA Needed</h1>
          <h4 *ngIf="getRequiredGPA() != ''">{{getRequiredGPA()}}</h4>
          <div *ngIf="getRequiredGPA() == ''">
            <br />
            <br />
          </div>
        </div>
        <ion-row>
          <ion-col>
            <button ion-button full (click)="clear()">Clear</button>
          </ion-col>
          <ion-col>
            <button ion-button full (click)="printPage('printer')">Print</button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <h1 style="text-align: center">Academic Standing Chart</h1>
        <img src="assets/imgs/Academic Standing.jpg" style="transform: translateY(-3px)" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <br />
  <br />
  <br />
  <br />
</ion-content>

<ion-content padding id="printer" style="display: none">
  <print-display [pageInfo]="pageInfo"></print-display>
</ion-content>
