page-home {

  $main-table-col-1-min-width: 200px;
  $main-table-col-2-min-width: 106px;
  $main-table-col-3-min-width: 142px;
  $main-table-col-4-min-width: 265px;
  $main-table-col-5-min-width: 106px;
  $main-table-col-1-width: 27.1vw;
  $main-table-col-2-width: 10.298vw;
  $main-table-heading-width-1: 144px;
  $main-table-heading-width-2: 170px;
  $main-table-footer-width-1: 144px;
  $main-table-footer-width-2: 200px;
  $add-class-button-height: 25px;
  $remove-class-button-width: 25px;

  ion-row {
    padding: 0px !important;
    text-align: center !important;
  }

  ion-row ion-col {
    width: 100% !important;
    height: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

    p {
      transform: translateX(-6px) !important;
    }
  }

  ion-row ion-col.main-table-col-1 {
    min-width: $main-table-col-1-min-width !important;
  }

  ion-row ion-col.main-table-col-2 {
    min-width: $main-table-col-2-min-width !important;

    div.heading {
      min-width: $main-table-heading-width-1 !important;
    }
  }

  ion-row ion-col.main-table-col-3 {
    min-width: $main-table-col-3-min-width !important;

    p {
      transform: translateX(-21px) !important;
    }
  }

  ion-row ion-col.main-table-col-4 {
    min-width: $main-table-col-4-min-width !important;
    max-width: $main-table-col-4-min-width !important;
    border-left: 1px solid black;
  }

  ion-row ion-col.main-table-col-5 {
    min-width: $main-table-col-5-min-width !important;

    div.heading {
      display: flex !important;
      overflow-x: visible !important;
      width: 100% !important;
      margin-left: calc(0px - (#{$main-table-col-4-min-width} / 2));
      transform: translateX(-50%);

      div#top {
        margin-left: calc(100% - #{$main-table-heading-width-2}) !important;
        transform: translateX(calc(#{$main-table-heading-width-2} / 2));
      }

      div#bottom {
        margin-left: calc(100% - #{$main-table-footer-width-2}) !important;
        transform: translateX(calc(#{$main-table-footer-width-2} / 2));
      }
    }
  }

  ion-row ion-col ion-item {
    width: 100% !important;
    height: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

    div.centered-select {
      display: flex;
      width: 100% !important;
      height: 100% !important;
      margin-left: 50% !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    div.select-item {
      width: 106px !important;
      height: 100% !important;
      transform: translateX(-50px);
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    ion-select {
      min-width: 100px !important;
      height: 100% !important;
      padding-left: 0px !important;
      padding-right: 6px !important;
    }

    ion-select.small {
      min-width: calc(100% - 10px) !important;
    }

    ion-select.double-padded {
      padding-left: 10px !important;
    }

    button.add-class {
      height: 25px !important;
      transform: translateX(5px);
    }

    button.remove-class {
      width: 25px !important;
      height: 25px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      transform: translateX(10px);
    }

    ion-label {
      text-align: left;
    }

    ion-label.checkbox {
      padding-left: 10px;
      min-width: calc(100% - 10px) !important;
    }
  }
  /*ion-row ion-col ion-item ion-select#letter-grade {
    min-width: calc(100% - 10px) !important;
    //min-width: 70px !important;
    //max-width: 70px !importan
  }

  ion-row ion-col ion-item ion-select#credit-hours {
    min-width: 100% !important;
    //min-width: 50px !important;
    //max-width: 50px !important;
  }

  ion-row ion-col ion-item ion-select#previous-grade {
    min-width: 100% !important;
    //min-width: 50px !important;
    //max-width: 50px !important;
  }

  ion-row ion-col ion-item ion-label#checkbox {
    padding-left: 10px;
    min-width: calc(100% - 10px) !important;
    //min-width: 50px !important;
    //max-width: 50px !important;
  }*/
  /*ion-row ion-col ion-item button#add-class {
    height: 25px !important;
    transform: translateX(5px);
  }

  ion-row ion-col ion-item button#remove-class {
    width: 25px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    transform: translateX(10px);
  }*/
  /*ion-row ion-col ion-item ion-label {
    text-align: left;
  }*/
  p, h2 {
    width: 100%;
    height: 100%;
    overflow-x: visible;
    overflow-y: hidden;
    padding-left: 0px;
    padding-right: 0px;
  }

  div.button-row {
    height: 60px !important;
  }

  div.bordered {
    border: 1px solid black;
    padding: 0px;
  }

  div.top-bordered {
    border-top: 1px solid black;
    padding: 0px;
  }

  div.right-bordered {
    border-right: 1px solid black;
    padding: 0px;
  }

  div.left-bordered {
    border-left: 1px solid black;
    padding: 0px;
  }

  div.bottom-bordered {
    border-bottom: 1px solid black;
    padding: 0px;
  }

  div.top-padding {
    padding-top: 5vw;
  }

  div.bottom-padding {
    padding-bottom: 5vw;
  }
}
